.actions {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
  button {
    background: linear-gradient(180deg, #4A2F1C 0%, #000 150%);
    text-shadow: 5px 5px 5px black;
    border: 2px solid #F4EBC1;
    color: #F4EBC1;
    font-family: 'UnifrakturMaguntia', serif;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      background: #F4EBC1;
      color: #4A2F1C;
    }
  }
}