.game-story {
  text-align: center;
  padding: 20px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(30, 30, 30, 0) 30%, rgba(30, 30, 30, 0) 70%, rgba(0, 0, 0, 0.7) 100%);
  background-color: #1e1e1e; /* Color base del fondo */
  
}

.actions {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
  max-width: 100%;
  button {
    background: linear-gradient(180deg, #4A2F1C 0%, #000 150%);
    text-shadow: 5px 5px 5px black;
    border: 2px solid #F4EBC1;
    color: #F4EBC1;
    font-family: 'UnifrakturMaguntia', serif;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &.potion {
      background: linear-gradient(180deg, red 0%, #000 150%);
    }
    &.escape {
      background: linear-gradient(180deg, rgb(32, 38, 116) 0%, #000 150%);
    }
    &:hover {
      background: #F4EBC1;
      color: #4A2F1C;
    }
    @media screen and (max-width: 480px) {
      width: 90%;
      padding: 0px 5px;
    }
    @media screen and (max-width: 345px) {
      width: 80%;
      padding: 0px 0px;
    }
  }

}
.dice-result {
  margin-top: 1em;
}

@keyframes damage-flash {
  0% {
    background-color: rgba(255, 0, 0, 0.5);
  }
  50% {
    background-color: rgba(255, 0, 0, 0);
  }
  100% {
    background-color: rgba(255, 0, 0, 0);
  }
}
@keyframes damage-health {
  0% {
    background-color: rgba(0, 180, 9, 0.5);
  }
  50% {
    background-color: rgba(255, 0, 0, 0);
  }
  100% {
    background-color: rgba(255, 0, 0, 0);
  }
}
.enemy-container {
  width: 15%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  border-radius: 5px;
  z-index: 9999;
  animation: damage-flash 0.5s ease-in-out;
  @media screen and (max-width: 768px) {
    width: 35%;
    height: 34%;
  }
  @media screen and (max-width: 480px) {
    top: 50%;
    width: 50%;
    height: 35%;
    h3 {
      font-size: 1em;
    }
    p {
      font-size: .7em;
    }
  }
}
.flash-base {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 9999;
}

.flash-damage,
.flash-health {
  @extend .flash-base;
}

.flash-damage {
  animation: damage-flash 0.5s ease-in-out;
}

.flash-health {
  animation: damage-health 0.5s ease-in-out;
}
