<audio #backgroundMusic autoplay loop>
  <source src="./battle-music.mp3" type="audio/mp3">
  Your browser does not support the audio element.
</audio>
<div class="game-container">
  <!-- Área central con narrativa y opciones -->
  <div class="game-story">
    <app-text-box [text]="message"></app-text-box>
    <div class="actions">
      @if (player$ | async; as player) {
        <button (click)="onPersuade()" [disabled]="disableActions">🤝 Persuade</button>
        <button (click)="onAttack()" [disabled]="disableActions">⚔️ Attack</button>
        <button class="potion" (click)="onDrinkPotion()" [disabled]="(disableActions || player.inventory.potions === 0)">
          [ {{ player.inventory.potions}} ]❤️ Potion
        </button>
        <button class="escape" (click)="onEscape()" [disabled]="disableActions">➡ Escape</button>
      }
    </div>

    <app-dice #dice></app-dice>
    @if (diceRoll !== null) {
      <div class="dice-result">
        Dice result: {{ diceRoll }}
      </div>
    }
  </div>

  <!-- Imagen de fondo para la mazmorra -->
  <div class="dungeon-background">
    @if (player$ | async; as player) {
      <img [src]="getBackgroundImage(player.level)" alt="Dungeon Background" class="dungeon-image" />
    }
  </div>

  <!-- Componente del jugador -->
  <app-player></app-player>

  <!-- Componente del enemigo -->
  
  @if (showEnemyDamageEffect) {
    <div class="enemy-container"></div>
  }
  <app-enemy></app-enemy>


  <!-- Modal para elegir recompensa, visible cuando showModal es true -->
  @if (showModal) {
    <app-reward-modal (onRewardSelection)="handleRewardSelection($event)"></app-reward-modal>
  }
  @if (showDamageEffect) {
    <div class="flash-damage"></div>
  }
  @if (showHealthEffect) {
    <div class="flash-health"></div>
  }
</div>
