.text-box {
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  width: 65%;
  margin: 20px auto;
  @media screen and (max-width: 480px) {
    width: 85%;
    padding: 0px 10px;
  }
}
.critical {
  color: rgb(216, 216, 90);
}
.failure {
  color: rgb(255, 72, 72);
}