.player-info {
  font-family: 'Courier New', Courier, monospace;
  background: linear-gradient(180deg, #4A2F1C 0%, #000 150%);
  text-shadow: 5px 5px 5px black;
  border: 2px solid hsl(49, 92%, 76%);
  border-radius: 8px;
  width: 65%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #222;
  padding: 10px;
  .portrait{
    img {
      width: 100px;
      height: 100px;
    }
  }  
  @media screen and (max-width: 480px) {
    flex-direction: column-reverse;
    width: 80%;
    .player-stats {
      width: 100%;
    }
    .player-data {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      .portrait{
        float: left;
        img {
          width: 80px;
          height: 80px;
        }
      }  
    }
      
  }

  .player-data {
    display: flex;
    align-items: end;
    .info {
      margin: 0 1em .3em;
      z-index: 100;
    }
    @media screen and (max-width: 480px) {
      flex-direction: column;
      background: linear-gradient(180deg, #4A2F1C 0%, #000 150%);
      border: 2px solid hsl(49, 92%, 76%);
      justify-content: space-between;
      position: absolute;
      top: 68%;
      width: 25%;
      left: -4%;
      border-radius: 8px;
      .portrait {
        margin: 5px 5px;
      }
      .info {
        font-size: 12px;
      }
    }
  }
  .player-stats {
    display: flex;
    width: 50%;
    justify-content: space-around;
    @media screen and (max-width: 480px) {
      width: 100%;
    }
    .stats {
      div {
        display: flex;
        align-items: center;
        height: 58px;
      }
    }
  }
  .inventory {
    .item {
      display: flex;
      align-items: center;
      img {
        padding: 2px;
        margin: 0 .5em .5em 0;
        &:hover {
          padding: 0px;
          border: 2px solid hsl(49, 92%, 76%);
        }
      }
    }
    img {
      width: 50px;
      height: 50px;
      @media screen and (max-width: 480px) {
        width: 30px;
        height: 30px;
      }
    }
    
  }
}
