<div class="transition-container">
  <div class="intro-text">
    Your adventure begins now. You'll face dangerous enemies, uncover hidden treasures, and make difficult choices along the way.
    Your armor will protect you, your weapon will guide you, and the roll of the dice will determine your fate. 
    Are you ready for the challenge?
  </div>
  <input class="custom-input" placeholder="Enter you name..." [(ngModel)]="name" #ctrl="ngModel" required minlength="3">
  <button class="start-button" (click)="startGame()" [disabled]="!(name.length > 2)">Start the Adventure</button>
</div>
