.enemy-gif, .chest-gif {
  bottom: 20px;
  width: 100px;
  height: 100px;
  @media screen and (max-width: 480px) {
    width: 50px;
    height: 50px;
  }
}

.enemy-stats {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  color: white;
  border-radius: 5px;
  @media screen and (max-width: 768px) {
    width: 35%;
    height: 34%;
  }
  @media screen and (max-width: 480px) {
    top: 50%;
    width: 50%;
    height: 35%;
    h3 {
      font-size: 1em;
    }
    p {
      font-size: .7em;
    }
  }
}

.enemy-image {
  @media screen and (max-width: 480px) {
    display: flex;
  }
}